@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import "sass/_variables.scss";
@import "sass/_mixins.scss";

*{
    font-family: 'Play', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: $noir;
    color:$gris;
    width:100%;
    min-height:100vh;
}
header{
    @include flex;
    width: 100%;
    height:15vh;
    position:fixed;
    left:0;
    top:0;
    z-index: 10000;
    .logo{
        @include flex;
        justify-content: center;
        width:30%;
        margin-left:50px;
        img{
            width:30px;
            height:30px;
        }
    }
    ul{
        width:70%;
        @include flex;
        justify-content: center;
        li{
            margin-left:30px;
            list-style: none;
            a{
                text-decoration: none;
                background: linear-gradient(to right,$rougeclair,$rougevif);
                color:$jauneambre;
                padding:6px 18px;
                border-radius:25px;
                border:0.5px solid $jauneambre;
                transition:0.5s;
                &:hover{
                    background: $jauneambre;
                    color:$rougevif;
                    transition:0.5s;
                    letter-spacing:0.5px;
                }
            }
        }
    }
}
header.sticky{
    background:#000;
    padding:10px 50px;
    height:12vh;
    box-shadow: 0 5px 20px $rougeclair;
    position:fixed;
}
.qui{
    position:relative;
    width:100%;
    height:70vh;
    margin:100px 50px;
    @include flex;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 8fr;
    grid-template-areas:
    "h1 h1 h1"
    "c1 c2 image";
    h1{
        grid-area: h1;
        margin-bottom: 20px;
    }
    .content1{
        grid-area: c1;
        @include content;
    }
    .content2{
        grid-area: c2;
        @include content;
    }
    img{
        position:absolute;
        width:300px;
        height:auto;
        grid-area: image;
        animation:flottant 5s ease-in-out infinite;
    }
}
@keyframes flottant{
    0%{
        margin-left:10px;
    }
    25%{
        margin-left:30px;
        margin-top:10px;
    }
    35%{
        margin-top:20px;
    }
    50%{
        margin-left:60px;
        margin-top:10px;
    }
    62%{
        margin-top:0px;
    }
    75%{
        margin-left:30px;
        margin-bottom: 10px;
    }
    100%{
        margin-left:10px;
        margin-top:0px;
    }
}