* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: #212020; }
  body .menu {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    body .menu.active .toggle {
      transform: rotate(360deg); }
    body .menu .toggle {
      position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60px;
      height: 60px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      font-size: 2em;
      transition: 1.25s; }
